// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 180px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }
}

.login-page {
  .login-page-content {
    margin: 5% 15% 5% 15%;
  }
  .create-account {
    text-align: center;
  }
}
.button-outline-md-secondary, .button-outline-ios-secondary {
  border-color: #fff;
  color: #fff;
}
.button-scryp {
  font-family: 'Lunatix Regular';
  font-size: 4vh;
  padding: 20px;
  margin: 1vh;
}
