page-recover {
  .recovery-div {
    text-align: center;
    width: 100%;
    height: 280px;
    margin-top: 30%;
  }
  
  .mnemonic-phrase {
    height: 90%;
    width: 90%;
    font-size: 28px;
  }

  .center-div {
    text-align: center;
  }

  .toolbar-title-md {
    color: #fffeff !important;
  }
}
