page-recover {
  .recovery-div {
    text-align: center;
    width: 100%;
    height: 200px;
    margin-top: 5%;
  }
  
  .mnemonic-phrase {
    height: 90%;
    width: 90%;
    font-size: 28px;
  }

  .center-div {
    text-align: center;
  }

  .toolbar-title-md {
    color: #fffeff !important;
  }

  .recover-scryp-header {
    margin: 5% 15% 5% 15%;
  }
}
