<ion-content padding>
  <div class="recover-scryp-header">
    <img src="assets/imgs/scryp-images/Scryp_Header_Font.png" alt="your image">
  </div>
  <ion-row>
    <div class="recovery-div">
      <textarea class="mnemonic-phrase" [(ngModel)]="mnemonic"></textarea>
    </div>
  </ion-row>
  <div class="center-div" *ngIf="isLoggedIn" padding>
    <button class="button-scryp" ion-button padding color="secondary" outline ngxClipboard [cbContent]="mnemonic">COPY TO CLIPBOARD</button>
    <button class="button-scryp" ion-button padding color="secondary" outline (click)="goToWallet()">GO TO WALLET</button>
  </div>
  <div class="center-div" responsive-sm *ngIf="!isLoggedIn" padding>
    <button class="button-scryp" ion-button color="secondary" outline (click)="recover()" style="margin: auto;">RECOVER</button>
  </div>
</ion-content>