<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scryp Pre-Alpha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="balance-title" text-center>
      <ion-col col-12><b>Starbucks:</b></ion-col>
    </ion-row>
    <ion-row class="" text-center>
      <ion-col col-12>
        <p><b>Item:</b></p>
        <p><b>16oz. Mocha:</b></p>
        <p>
          Total Price:
        </p>
        <p>
            4$
        </p>
        <p>Scryp Deal</p>
        <p>
          $2.50 + $c1.50
        </p>
       </ion-col>
    </ion-row>
    <ion-row class="scan-button">
        <ion-col col-12><button ion-button full (click) = 'pay()'>Pay Now</button></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>