<ion-content padding class="scryp-store-content">
  <div class="menu-close-button">
    <ion-icon ios="ios-close" md="md-close" (click)="closeMenu()"></ion-icon>
  </div>
  <div style="width:100%; height:40%;">
    <img src="assets/imgs/scryp-images/AssetVol.png" alt="Volunteers" class="scryp-images" width="100%" height="100%">
  </div>
  <ion-grid>
    <ion-row class="header-label text">
      <ion-col col-5>{{volunteerSite.organizedBy}}</ion-col>
      <ion-col col-2><img class="volunteer-logo-align" src="assets/imgs/scryp-images/Volunteer_Icon.png" alt="Volunteer_Icon"></ion-col>
      <ion-col col-5  style="direction: rtl;">{{volunteerSite.address}}</ion-col>
    </ion-row>
    <ion-row class="label-content-text">
      <ion-col col-12>
        <p class="label-text">Volunteers needed on {{volunteerSite.startDate | date : short}} for {{volunteerSite.title}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer style="padding-right: 20%; padding-left: 20%; height: 90px;">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-4 style="text-align: -webkit-center">
            <button *ngIf="scrypActions" ion-fab color="secondary">Share</button>
          </ion-col>
          <ion-col col-4 style="text-align: -webkit-center">
            <button *ngIf="scrypActions" ion-fab color="dark" (click)="addScryp()">Earn</button>
          </ion-col>
          <ion-col col-4 style="text-align: -webkit-center">
            <img (click)="toggleScrypActions()" ion-fab src="assets/imgs/scryp-images/Artwork 35.png" alt="your image" class="scryp-images">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
