<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scryp Pre-Alpha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="balance-title" text-center>
      <ion-col col-12><b>Confirmed!</b></ion-col>
    </ion-row>
    <ion-row class="" text-center>
      <ion-col col-12>
        <p>$c1.50</p>
        <p>Will be debited from
            your Scryp account.</p>
      </ion-col>
    </ion-row>
    <ion-row class="scan-button">
        <ion-col col-12><button ion-button full (click) = 'getBalance()'>See Balance</button></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>